<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	th:with="lang=${#locale.language}" th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>AiApp</title>
<!-- Semantic UI CSS -->
<th:block th:fragment="configFragment">
	<!-- 이 영역에 공통으로 사용할 css, js library를 선언한다. -->
	<!-- 	<LINK REL="SHORTCUT ICON" HREF="resources/images/star-favicon.ico" /> -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
	<link rel="stylesheet"
		href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet"
		href="https://cdn.datatables.net/1.10.23/css/dataTables.jqueryui.min.css">
	<link rel="stylesheet"
		href="https://cdn.datatables.net/scroller/2.0.3/css/scroller.jqueryui.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.semanticui.min.css">		
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<!-- Content Page의 CSS fragment 삽입 -->
	<th:block layout:fragment="css"></th:block>
	<!-- Content Page의 script fragment 삽입 -->
</th:block>
</head>

<body class="fluid container">
	<header layout:fragment="header" id="header" class="fluid ui menu">
		<a class="item" href="/">Home</a>
		<a class="item" href="#">About</a>
		<a class="item" href="inputSample">InputSample</a>
		<a class="item" href="dataTableSample">DataTableSample</a>
<!-- 		<a class="item" data-th-text="${session.sessionemail}"></a>
		<a class="item" data-th-text="${session.sessionname}"></a>
		<a class="item" data-th-text="${session.sessionphoto}"></a> -->
		<div class="right menu">
			<th:block th:if="${session.sessionemail != null}"><a class="item" onClick="location.href='buyInsert'">Buy</a></th:block>
 			<th:block th:if="${session.sessionemail != null}"><a class="item" onClick="location.href='productInsert'">상품</a></th:block>
 			<th:block th:if="${session.sessionemail != null}"><a class="item" onClick="location.href='venderInsert'">거래처</a></th:block>		
 			<th:block th:if="${session.sessionemail != null}"><a class="item" onClick="location.href='balanceInsert'">거래내역</a></th:block>
 			<th:block th:if="${session.sessionemail != null}"><a class="item" onClick="location.href='salaryInsert'">급여</a></th:block>		
			<th:block th:if="${session.sessionemail != null}"><a class="item" onClick="location.href='boardPageList'">게시판</a></th:block>
			<th:block th:if="${session.sessionemail != null}">
			<div class="item">
				<div class="ui inline dropdown" id="profiledropdown" >
					<img class="ui avatar image" data-th-src="${session.sessionphoto}" />
					<div class="menu" >
						<a class="item" href="logout" style="line-height: 10px;">logout</a>
						<a class="item" href="memberUpdate" style="line-height: 10px;">정보수정</a>
					</div>
				</div>
			</div>			
			</th:block>
			<th:block th:if="${session.sessionemail == null}"><a class="item" onClick="location.href='login'">Login</a></th:block>
			<div class="item">
				<div class="ui inline dropdown" id="langdropdown" name="lang">
	    			<div class="text">
	      				<i class="world icon"></i>
	    			</div>
					<i class="dropdown icon"></i>
				    <div class="menu">
	      				<div class="item">
				    	    <i class="kr flag"></i>
				    	</div>
						<div class="item">
				        	<i class="us flag"></i>
				      	</div>
				      	<div class="item">
				        	<i class="cn flag"></i>
				      	</div>
				      	<div class="item">
				       		<i class="jp flag"></i>
				      	</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div id="main-wrapper" class="fluid ui container grid">
		<div layout:fragment="left" id="left" class="eight wide column"></div>
		<div layout:fragment="right" id="right"	class="eight wide column"></div>
	</div>
	<footer layout:fragment="footer" class="ui grid sixteen wide column">
		<p>Copyright.</p>
	</footer>

	<th:block layout:fragment="commonjs">
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.23/js/dataTables.jqueryui.min.js"></script>
	<script
		src="https://cdn.datatables.net/scroller/2.0.3/js/dataTables.scroller.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script th:src="@{/js/semantic.min.js}"></script>
	<script th:src="@{/js/aiappproject.js}"></script>
	<!-- 	<script th:src="@{/js/common.js}"></script> -->
	<th:block layout:fragment="js"></th:block>
	</th:block>			
</body>
</html>