<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<th:block layout:fragment="css">
<style>
select {
	width: 50px;
}

label{
	text-align:left;
}

.segment {
	padding: 0 15px;
}
</style>
</th:block>
<div layout:fragment="content" id="content">
	<h2 class="ui center aligned icon header">
		<i class="clipboard outline icon"></i> 급여계산
	</h2>
	<div class="ui middle aligned center aligned grid">
		<div class="eight wide column">

	<form class="ui form" method="post" action="salaryTaxRun" id="salaryTaxForm">
		<input type="hidden" class="confirmyn" value="n">

		<div class="ui horizontal segments">
			<div class="ui segment">
				<div class="field">
 					<label>처리 년도</label> 
					<select name="yyyy">
						<option th:each="year : ${years}" th:selected="${year == thisyear}"  th:value="${year}" th:text="${year+'년'}"></option>
					</select>
				</div>
				<div class="field">
					<label>처리 월</label> 
					<select name="mm">
						<option th:each="month : ${months}" th:selected="${month == thismonth}"  th:value="${month}" th:text="${month+'월'}"></option>
					</select>

				</div>
				<div class="field middle aligned">
					<div class="ui buttons">
						<button class="ui positive button" type="button" id="tax_cal">계산</button>
						<button class="ui button" type="reset" onclick="loaction.href='index'">취소</button>
						<button class="ui button" type="button" id="tax_del">삭제</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div class="ui mini modal">
		<i class="close icon"></i>
		<div class="header modalmsg">계산 버튼을 누르면 기존 데이터는 삭제되고 다시 생성됩니다.</div>
		<div class="actions">
			<div class="ui negative button">취소</div>
			<div class="ui positive right labeled icon button" id="calBtn">
				계산<i class="checkmark icon"></i>
			</div>
		</div>
	</div>
	</div>
	</div>
</div>
<th:block layout:fragment="js">
<script>
	$('#tax_cal').on('click', function() {
		$('.mini.modal').modal('show');
	});
	$('#calBtn').on('click', function(){
		alert("계산처리");
		$('#salaryTaxForm').attr('action','salaryTaxCalculate');
		$('#salaryTaxForm').submit();
	});
	
	$('#tax_del').on('click', function() {
		$('#salaryTaxForm').attr('action','salaryTaxDelete');
		$('#salaryTaxForm').submit();
	});
</script>
</th:block>
</html>


